$jost: 'Jost', sans-serif;
$rubik: 'Rubik', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$island:'Island Moments', cursive;
$greyish:#555555;
$celestialOrange:#FF007F;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$silver: #C0C0C0;

.footer {
    background-color: $special;
    padding: 40px 20px;
    width: 100%;
  
    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      gap: 60px;
      margin: 0 auto;
  
      .footer-section {
        flex: 1 1 300px;
        margin-bottom: 30px;
  
        h3 {
          font-size: 28px;
          margin-bottom: 10px;
          color: $celestialOrange;
          font-family: $ropa;
        }
  
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            font-size: 14px;
            margin-bottom: 5px;
            color: #fff;
            cursor: pointer;
            transition: color 0.3s ease;
            font-family: $jost;
            font-size: 18px;
  
            &:hover {
              color: $celestialOrange;
            }
          }
        }
  
        p {
          font-size: 14px;
          color: #fff;
          line-height: 1.5;
          font-family: $jost;
          font-size: 18px;
          
        }
  
        .social-icons {
          display: flex;
          gap: 10px;
          margin-top: 10px;
  
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: transform 0.3s ease;
            filter: invert(1);
  
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      
          .payment-icons {
            display: flex;
            gap: 20px;
            margin-top: 10px;
  
            img {
              width: 40px;
              height: 40px;
              transition: transform 0.3s ease;
              filter: invert(1);
  
              &:hover {
                transform: scale(1.2);
              }
            }
        }
  
        form {
          margin-top: 20px;
  
          input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            color: #333;
            outline: none;
          }
  
          button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: $celestialOrange;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: blueviolet;
            }
          }
        }
      }
    }
  }
  