$jost: 'Jost', sans-serif;
$rubik: 'Rubik', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$island:'Island Moments', cursive;
$greyish:#555555;
$celestialOrange:#FF6F61;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$silver: #C0C0C0;

.women-page {
  width: 100%;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: $ropa;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    color: #FF6F61;
    text-decoration:double underline;
    font-family: $jost;
  }
}

.women-items {
  display: flex;
  flex-direction: column;
}

.women-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.women-item-container {
  width: calc(33.33% - 10px); 
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  height: 550px;
  overflow: hidden;
}

.item-discount-women {
  position: absolute;
  right: 5px;
  background-color: $celestialOrange;
  color: #fff;
  padding: 3px 8px; 
  border-radius: 5px;
  font-family: $ropa;
  margin-top: 15px;
}

.item-discount-women:hover {
  background-color: blueviolet;
  transition: 0.5s;
}

.item-image {
  position: relative;
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: $frosted-glass;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.item-name-women{
  font-size:16px;
  font-family: $jost;
  font-weight: 500;
  margin-top: 10px;
  color: $special;

}

.women-item-container:hover .item-overlay {
  opacity: 1;
}

.wish img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.add-to-cart-btn img {
  width: 20px;
  height: 20px;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $celestialOrange;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-family: $ropa;
  font-size: 1rem;
  cursor: pointer;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.item-info-women{
  height: 200px;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: blueviolet;
  transition: 0.5s;
}

.discounted-price-women {
  display: none;
}

.price-container {
  display: flex;
  align-items: center;
}

.previous-price-women {
  text-decoration: line-through;
  margin-right: 5px;
  color: $special;
  font-size: 20px;
  font-family: $ropa;
  font-weight: 500;
}

.current-price-women {
  font-weight: 500;
  font-size: 20px;
  font-family: $ropa;
  margin-left: 5px;
  color: $celestialOrange;
}

.women-item-container:hover .item-overlay {
  opacity: 1;
}
.item-image {
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: transform 0.5s ease;

    &:not(:first-child) {
      transform: translateX(100%);
      opacity: 0;
    }

    &.next {
      transform: translateX(0%);
      z-index: 1;
    }
  }
}